@import "../../../mixins.scss";

.reviewsSection {
    position: relative;
    margin-bottom: 50px;
    margin-top: 50px;

    .sectionHeading {
        font-size: 24px;
        color: white;
        margin-bottom: 25px;
    }

    .reviews {
        display: flex;
        gap: 20px;
        overflow-y: hidden;
        margin-right: -20px;
        margin-left: -20px;
        padding: 0 20px;

        @include md {
            margin: 0;
            padding: 0;
            display: grid;
            grid-template-columns: 1fr;
            gap: 20px;
        }

        .reviewCard {
            background-color: var(--black2);
            padding: 20px;
            border-radius: 12px;
            min-width: 300px;
            
            @include md {
                width: 100%;
            }

            .author {
                display: flex;
                align-items: center;
                margin-bottom: 20px;
                gap: 15px;

                .avatar {
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    background-color: var(--black);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    overflow: hidden;
                    font-size: 24px;
                    font-weight: 700;
                    color: var(--orange);
                    
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                .info {
                    .name {
                        color: white;
                        font-size: 16px;
                        font-weight: 600;
                        margin-bottom: 5px;
                    }

                    .date {
                        color: var(--text-secondary);
                        font-size: 14px;
                        opacity: 0.8;
                    }
                }

                .rating {
                    margin-left: auto;
                    background-color: var(--black);
                    padding: 5px 10px;
                    border-radius: 8px;
                    display: flex;
                    align-items: center;
                    gap: 5px;
                    color: white;
                    
                    svg {
                        color: var(--orange);
                    }
                }
            }

            .content {
                color: var(--text-secondary);
                line-height: 24px;
                font-size: 14px;
                
                p {
                    margin-bottom: 0;
                }
            }
        }
    }
    
    .noReviews {
        color: var(--text-secondary);
        font-style: italic;
    }
}
