@import "../../mixins.scss";

.personDetailsPage {
  min-height: 700px;
  padding-top: 100px;
  color: white;

  .detailsBanner {
    margin-bottom: 50px;

    .content {
      display: flex;
      flex-direction: column;
      gap: 25px;

      @include md {
        flex-direction: row;
        gap: 50px;
      }

      .left {
        flex-shrink: 0;

        .posterImg {
          width: 100%;
          display: block;
          border-radius: 12px;
          min-width: 300px;

          @include md {
            max-width: 350px;
          }
        }
      }

      .right {
        color: white;

        .title {
          font-size: 28px;
          line-height: 40px;

          @include md {
            font-size: 34px;
            line-height: 44px;
          }
        }

        .subtitle {
          font-size: 16px;
          line-height: 24px;
          margin-bottom: 15px;
          font-style: italic;
          opacity: 0.5;

          @include md {
            font-size: 20px;
            line-height: 28px;
          }
        }

        .overview {
          margin-bottom: 25px;

          .heading {
            font-size: 24px;
            margin-bottom: 10px;
          }

          .description {
            line-height: 24px;

            @include md {
              line-height: 26px;
            }
          }
        }

        .info {
          border-bottom: 1px solid rgba(255, 255, 255, 0.1);
          padding: 15px 0;
          display: flex;

          .infoItem {
            margin-right: 10px;
            display: flex;
            flex-flow: row wrap;

            .text {
              margin-right: 10px;
              opacity: 0.5;
              line-height: 24px;

              &.bold {
                font-weight: 600;
                opacity: 1;
              }
            }
          }
        }
      }
    }
  }
}
